//colors
$blue :#3480E3;
$red :#E53167;
$backg :#E5E5E5;
$text1 :#000;
$text2 :#777;
$white :#fff;
$light:rgba(52, 128, 227, 0.1);
;
//fonts
$primary_fonts:'Cairo',
sans-serif;
$secondry_fonts: 'Tajawal',
sans-serif;
$font:15px;