$mainColor:#3490DC;
$color1:#8C43FF;
$color2:#293347;
$color3:#4A4A4A;
$color4:#E6ECF8;
$color5:#E6ECF8;
$color6:#3490DC;
$color7:#328af1;
$color8:#606F7B;
$vue1:#4FC08D;
$vue2:#42B983;
$vue3:#3A5169;
$vue4:#7F8C8D;
$mainColorplay:lighten($color1, 20);