@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Montserrat', sans-serif;
    direction: ltr;
    // &::-webkit-scrollbar{
    //     width: 1.5rem;
    // }
    // &::-webkit-scrollbar-track{
    //     background-color: transparent;
    // }
    // &::-webkit-scrollbar-thumb{
    //     background: rgb(230, 130, 130);
    //     border-radius: 5px;
    //     &::hover{
    //         background:  #e68282 ;
    //     }
    // }
}

.active {
    background: #7ce5d4 !important;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    @include active;
    @include smooth(.5s);
    border: none;
    &:hover {
        background: #e68282 !important;
        color: #fff;
    }
}

header {
    color: #fff;
    position: relative;
    width: 100%;
    height: 100;
    margin-bottom: 40px;
    @include backrgound-image('../img/bg/a4.jpg');
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        @include linear-gradient-top( #e68282 0%,
        #f0d68a 100%);
        opacity: .9;
    }
    .bg-light {
        background: transparent !important;
    }
    .navbar-light .navbar-brand {
        color: #fff;
        opacity: .6;
        &:hover {
            @include smooth(.5s);
            opacity: 1;
        }
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        opacity: .5;
        padding-right: 50px;
        span {
            @include smooth(.4s);
            .line {
                margin-top: 15px;
                border-bottom: 1px solid transparent;
                display: block;
            }
        }
        &:hover {
            color: #fff;
            opacity: 1;
            span {
                font-weight: 900;
                text-align: center;
                .line {
                    border-bottom: 1px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }
    .content {
        .img-fluid {
            border-radius: 5px;
            box-shadow: 0 0 27px rgba(96, 96, 96, .34);
            width: 70%;
            height: 380px;
            -o-object-fit: cover;
            object-fit: cover;
            margin-top: 10px;
            position: relative;
            top: 40px;
            opacity: .99999;
        }
        h4 {
            font-size: 44px;
            line-height: 50px;
            font-weight: 700;
            margin-top: 40px;
            margin-bottom: 10px;
        }
        h6 {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 40px;
        }
        .info {
            margin-bottom: 20px;
            span {
                opacity: .4;
                float: left;
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                padding-left: 100px;
                margin-bottom: 15px;
            }
        }
        .links {
            margin-bottom: 30px;
            li {
                margin-right: 30px;
                a {
                    color: #fff;
                    text-decoration: none;
                    opacity: .5;
                    cursor: pointer;
                    @include smooth(.5s);
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//start about
.about-me {
    padding: 60px 0;
    h4,
    p {
        margin-bottom: 35px
    }
    h4 {
        font-size: 36px;
        line-height: 42px;
    }
    p {
        font-size: 18px;
        line-height: 1.5;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    .active {
        padding: 15px 25px;
    }
}

//start skills sections
.skillss {
    @import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
    padding: 40px 0;
    h4 {
        font-size: 36px;
        line-height: 42px;
    }
    h5 {
        margin: 30px 0;
    }
    .col-md-4 {
        padding: 0;
    }
    .box {
        text-align: center;
        width: 100%;
        height: 700px;
        background-color: #fff;
        box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
        color: #293347;
        padding: 40px 20px;
        margin: 35px 0;
        .head {
            margin: 20px 0;
            li {
                img {
                    height: 55px;
                }
                h5 {
                    font-weight: 800;
                    color: #293347;
                    // font-family: Roboto;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-size: 24px;
                    line-height: normal;
                    text-transform: uppercase;
                    color: #3C444C;
                }
                p {
                    font-size: 18px;
                }
            }
        }
        .body,
        .bottom {
            margin: 20px 0;
            h6 {
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-size: 20px;
                line-height: normal;
                text-transform: uppercase;
                text-transform: uppercase;
                color: #e68282;
                margin: 15px 0;
            }
        }
    }
}

.l {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.c {
    border-radius: 0;
}

.r {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

//start work section
.work {
    padding: 30px 0;
    h4 {
        font-size: 36px;
        line-height: 42px;
        margin: 35px 0;
    }
    .project {
        width: 95%;
        margin: 30px auto;
        border-radius: 5px;
        position: relative;
        box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
        @include smooth(.7s);
        .overlay {
            text-transform: capitalize;
           
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 15px;
            border-radius: 6px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            @include smooth(.7s);
            padding: 25% 5px;
            text-align: center;
            opacity: .95;
            color: #FFF;
            display: none;
            background-size: cover;
            @include linear-gradient-top( #e68282 0%,
            #f0d68a 100%);
            p{
                margin-bottom: 25px;
            }
            a {
                text-align: center;
                margin: 15px 0;
                padding: 7px 40px;
                text-decoration: none;
                opacity: 1;
                // color: #fff;
                i {
                    margin-left: 10px;
                }
            }
        }
        img {
            border-radius: 5px;
            width: 100%;
            height: 262px;
        }
        &:hover .overlay,
        img {
            display: block;
        }
    }
}

//start footer
footer {
    @include linear-gradient-top( #e68282 0%,
    #f0d68a 100%);
    padding: 5px 0;
    h5 {
        font-weight: 300;
        font-size: 1.6rem;
        margin: 2rem auto;
        max-width: 300px;
        color: #ffffff87;
        text-align: center;
    }
    ul {
        li {
            border-radius: 6px;
            opacity: 0.5;
            line-height: 1.5;
            padding: 10px;
            margin-right: 15px;
            @include smooth(.4s);
            a {
                text-decoration: none;
                color: #fff;
            }
            &:hover {
                opacity: 1;
                a {
                    color: #FFF;
                }
            }
        }
    }
    p {
        margin: 20px 0;
        a {
            @include smooth(.3s);
            text-decoration: none;
            color: #fff;
            opacity: .5;
            &:hover {
                @include smooth(.3s);
                opacity: 1;
                color: #fff;
            }
        }
    }
}

//start arrow
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    @include linear-gradient-top( #e68282 0%,
    #f0d68a 100%);
    color: #fff;
}


/* Large desktop */

@media (min-width: 1200px) {}

@media (min-width: 979px) and (max-width: 1024px) {
    header .navbar-light .navbar-brand {
        width: 50% !important;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .work .project .overlay {
        font-size: 10px;
        padding: 40% 5px;
    }
    header .navbar-light .navbar-brand {
        width: 50% !important;
        img {
            width: 25% !important;
        }
    }
    .skillss .box {
        height: 770px;
        overflow: hidden;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    header .navbar-light .navbar-brand {
        width: 50% !important;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    header .navbar-light .navbar-brand {
        width: 50% !important;
        img {
            width: 50% !important;
        }
    }
    header .content {
        text-align: center;
    }
    header .content .img-fluid {
        display: none;
    }
    header .content .links {
        text-align: center;
    }
    .r,
    .l,
    .c {
        border-radius: 6px;
    }
    .skillss .box {
        width: 95%;
        margin: 40px auto;
        height: auto;
    }
    .mtt {
        margin-top: 5px !important;
    }
    .work .project .overlay {
        padding: 30% 5px;
        text-align: center;
        font-size: 95%;
    }
    .work .project .overlay p {
        margin-bottom: 15px;
    }
    footer ul li {
        margin-right: 5px;
    }
    .mbl {
        margin-bottom: 25px;
    }
    header .navbar-light .navbar-nav .nav-link span .line {
        display: none;
    }
}